---
export async function getStaticPaths() {
	const url = `${import.meta.env.STRAPI_URL}/graphql`;
	const query = `
    blogs(pagination: { page: 1, pageSize: 3 },sort: "id:desc")  {
      data {
        id
        attributes {
          title,
          content,
		  thumbnail{
			data{
			 attributes{
			   url,
			   name
			 }
		   }
		 },
		  createdAt
        }
      },
	  meta {
		pagination {
		  page
		  pageSize
		  total
		  pageCount
		}
	  }
    }
  }`;
	const response = await fetch(url, {
		// Updated to use import.meta.env
		method: "POST",
		headers: {
			"Content-Type": "application/json",
		},
		body: JSON.stringify({
			query: query,
		}),
	});

	const { data } = await response.json();

	return [
		{ params: { blogId: "14" } },
		{ params: { blogId: "13" } },
		{ params: { blogId: "12" } },
		{ params: { blogId: "11" } },
		{ params: { blogId: "10" } },
	];
}

const { blogId } = Astro.params;
console.log(blogId);

/* 詳細ページ */
const url = `${import.meta.env.STRAPI_URL}/graphql`;
const queryById = `
  {
    blog(id: ${blogId}) {
      data {
        id
        attributes {
          title,
          content,
          thumbnail {
            data {
              attributes {
                url
              }
            }
          },
          createdAt
        }
      }
    }
  }`;
const response = await fetch(url, {
	// Updated to use import.meta.env
	method: "POST",
	headers: {
		"Content-Type": "application/json",
	},
	body: JSON.stringify({
		query: queryById,
	}),
});

const { data } = await response.json();
console.log(data.blog.data);
---

<main>
	<h1>{data.blog.data.attributes.title}</h1>
	<p>{data.blog.data.attributes.content}</p>
</main>
